<form method="post" action="{{ path('app_judiciary_case_delete', {'id': judiciary_case.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ce casier judiciaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ judiciary_case.id) }}">
    <button class="btn btn-link text-decoration-none">&#128465;&#65039;</button>
</form>
