<form method="post" action="{{ path('app_arrestation_delete', {'id': arrestation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette arrestation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arrestation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
